.side-bar
{
    width:72px;
    height: 100%;
    padding-top: 4px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
}
.button
{
    display: grid;
    height: 74px;
    margin: 0px;
}
.button:hover
{
    background-color: rgba(190, 190, 190, 0.249);
    cursor: pointer;
}
.icon
{
    justify-self: center;
    align-self: self-end;
    height: 24px;
    margin-bottom: 6.5px;
}
.text
{
    justify-self: center;
    margin: 0px;
    font-family: Roboto;
    font-size: 10px;
}